<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fileuploadpage">Upload</a></li>
                <li><a href="/retrieve">View</a></li>
                <li><a href="/status">Status</a></li>
                <li><a href="https://ipfs.tech/">IPFS</a></li>

            </ul>
        </nav>

        <header>
            <h1>Decentralised file uploading system</h1>
            <p>Secure your valuable documnet with Blockchain and IPFS</p>
        </header>

        <section class="intro">
            <h2>Why Choose Our System?</h2>
            <p>We integrate IPFS and Blockchain in parallel Securable and Tamperproof File uploadation.</p>
        </section>

        <footer>
            <p>&copy; 2024 decentralised file uploading system</p>
        </footer>
    </div>
</body>
</html>
